

  <!-- Footer -->
<footer class="page-footer sticky-bottom font-small blue pt-4" style="margin-top: 100px; text-align: center;">

  <!-- Footer Links -->
  <div class="container">

    <!-- Grid row -->
    <div class="row justify-content-evenly">
      
      

      
      <!-- Grid column -->
      <div class="col align-self-start">

        <!-- Links -->
        <h5 style="color: white; font-family: Courier;" class="text-uppercase">Links</h5>

        <ul class="list-unstyled">
          <li>
            <a href="/home">Home</a>
          </li>
          <li>
            <a href="/group">About Us</a>
          </li>
          <li>
            <a href="/projects">Our Projects</a>
          </li>
          <li>
            <a href="/survey-list">Surveys</a>
          </li>
          <li>
            <a href="/mypage">My Surveys</a>
          </li>
        </ul>

      </div>

      <div class="col align-self-end">
        
        <!-- Links -->
        <h5 style="color: white; font-family: Courier; text-align: left; margin-left: 10px;" class="text-uppercase">Connect with us</h5>

        <div class="container-fluid">
        <div class="row" >
        <div class="col-2"><a class="link" href="https://www.facebook.com/"><i style="color: #4267B2; margin-right: 15px;" class="fab fa-facebook-square fa-2x"></i></a></div>
        <div class="col-2"><a class="link" href="https://www.instagram.com/"><i style="color: #c1558b; margin-right: 15px;" class="fab fa-instagram-square fa-2x"></i></a></div>
        <div class="col-2"><a class="link" href="https://www.linkedin.com/"><i style="color: #0077B5; margin-right: 15px;" class="fab fa-linkedin fa-2x"></i></a></div>
        </div>
        <div class="row">
        <div class="col-2"><a class="link" href="https://www.pinterest.com/"><i style="color: #bd081c; margin-right: 15px;" class="fab fa-pinterest-square fa-2x"></i></a></div>
        <div class="col-2"><a class="link" href="https://www.twitter.com/"><i style="color: #00acee; margin-right: 15px;" class="fab fa-twitter-square fa-2x"></i></a></div>
        <div class="col-2"><a class="link" href="https://www.reddit.com/"><i style="color: #ff5700; margin-right: 15px;" class="fab fa-reddit-square fa-2x"></i></a></div>
        </div>
        <div class="row">
        <div class="col-2"><a class="link" href="https://www.whatsapp.com/"><i style="color: #25D366; margin-right: 15px;" class="fab fa-whatsapp-square fa-2x"></i></a></div>
        <div class="col-2"><a class="link" href="https://www.youtube.com/"><i style="color: #b31217; margin-right: 15px;" class="fab fa-youtube-square fa-2x"></i></a></div>
        <div class="col-2"><a class="link" href="https://www.snapchat.com/"><i style="color: #FFFC00; margin-right: 15px;" class="fab fa-snapchat-square fa-2x"></i></a></div>
        </div>
        <div class="row">
        <div class="col-2"><br></div>
        <div class="col-2"><br></div>
        <div class="col-2"><br></div>
        </div>
        </div>

      </div>
      <!-- Grid column -->
      

    
    <!-- Grid row -->
    
   <div class="container-fluid">
    <a class="navbar-brand" href="#">Copyright &copy; 2021 - Multiverse Design</a>
  </div>
  <!-- Footer Links -->

  


</footer>
<!-- Footer -->
  