<%- include partials/header.ejs %>

<%- include partials/main_nav.ejs %>

<!-- Main Content -->
<div class='container-fluid'>
  <div class="row outerDiv">
    
    
    
    
    <div class="col">
  <main class="container">
     <div style="text-align:center;" >
        <img src="../Assets/images/team_logo.png">
        <div class="container">
                <div class="groupRow">
                    <img src="../Assets/images/Mahbub.jpg" width="250" height="250">
                    <p><br><b>Md Mahbub E Waduzzaman</b> <br> Project Manager</p>
                    </div>
                    <div class="column">
                    <img src="../Assets/images/Fabian.jpg" width="250" height="250">
                    <p><br><b>Fabian Soto Palacio</b> <br> Lead Software Engineer</p>
                    </div>
                    <div class="column">
                    <img src="../Assets/images/Katherine.jpg" width="250" height="250">
                    <p><br><b>Katherine Bowie </b> <br> Web Designer</p>
                    </div>
                </div>
                 <div class="groupRow">
                </div>
                <div class="groupRow">
                    <div class="column">
                    <img src="../Assets/images/Wahid.jpg" width="250" height="250">
                    <p><br><b>Mohammad Wahiduzzaman</b> <br> Database Programmer</p>
                    </div>
                    <div class="column">
                    <img src="../Assets/images/Mokshit.jpg" width="250" height="250">
                    <p><br><b>Mokshit</b> <br> Security Programmer</p>
                    </div>
                     <div class="column">
                    <img src="../Assets/images/Shahriar.jpg" width="250" height="250">
                    <p><br><b>Shahriar Tanvir</b> <br> UI Programmer</p>
                    
                    </div>
                </div>
>


  </div>
  </div>


<%- include partials/bottom_nav.ejs %>  

<%- include partials/footer.ejs %>
