<%- include partials/header.ejs %>

<%- include partials/main_nav.ejs %>

<!-- Main Content -->
<div class='container-fluid'>
  <div class="row outerDiv">

    <div class="col">
  <main class="container">
     <div class="p-5 mb-4" style="text-align:center;" >
        <a href="/"><img style= "margin-top:75px;" class = "loginlogo d-none d-lg-block" src="../../../Assets/images/team_logo.png"/></a>
        <div class="container-fluid py-5">
            <h1 class="fill fw-bold" style="text-align:center; color: white;">
                COMP229 Web Application Development <br/>
                Group: Multiverse Design<br/>
                Project Title: Multiverse Design Surveys
            </h1>
            <br/><br/>
            
            <table style="text-align: left;color: white;">
                <tbody>
                    <tr>
                        <th>Short Description:</th>
                        <td>&nbsp;&nbsp;&nbsp;This is an Online survey platform. User can register, login, create and submit survey.</td>
                     </tr>
                    <tr>
                        <th>No of members:</th>
                        <td>&nbsp;&nbsp;&nbsp;06</td>
                    </tr>
                    <tr>
                        <th>Technologies:</th>
                        <td>&nbsp;&nbsp;&nbsp;Nodejs, HTML, CSS, EJS, JavaScript and various packages</td>
                    </tr>
                    <tr>
                        <th>Database:</th>
                        <td>&nbsp;&nbsp;&nbsp;MongoDB</td>
                    </tr>
                    <tr>
                        <th>Database Server:</th>
                        <td>&nbsp;&nbsp;&nbsp;https://www.mongodb.com/cloud/atlas</td>
                    </tr>
                    <tr>
                        <th>Cloud Deployment:</th>
                        <td>&nbsp;&nbsp;&nbsp;https://www.heroku.com</td>
                    </tr>
                    <tr>
                        <th>Source Code:</th>
                        <td>&nbsp;&nbsp;&nbsp;https://github.com/Fasop4/Multiverse-Design-Surveys</td>
                    </tr>
                    <tr>
                        <th>Live URL:</th>
                        <td>&nbsp;&nbsp;&nbsp;https://multiverse-survey.herokuapp.com/about/</td>
                    </tr>
                </tbody>
             </table>
        </div>
      </div>
  </main>
  </div>



<%- include partials/bottom_nav.ejs %>  

<%- include partials/footer.ejs %>
